.confirmEditModal{
    display: flex;
    flex-direction: column;
  
    justify-content: center;
    align-items: center;
  
    gap: 10px;
    
    background-color: white;
  
    width: 35%;
    height: 60%;
  
    border-radius: 20px;
  }

  .modal-confirmDeleteCharge{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    position: relative;
    z-index: 4;
    gap: 20px;
    border-radius: 30px;
    background-color: white;
    padding: 40px 30px 40px 30px;
  
    color: #3f3f55;
  }

  .modal-chargeDetails-header{
    display: flex;
    width: 100%;


  
  }
  .closeIconChargeDetails-header{
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: absolute;
    right: 6%;
  
    top: 6%;
    align-self: flex-end;
 
  }
  .confirmEditModal img{
    margin-top: 30px;
    height: 70px;
    width: 70px;
  }


  .confirmEditPage{
    width: 100%;
    height: 100%;
  
    position: fixed;
  
    z-index: 2;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background: rgba(145, 154, 150, 0.3);
  
    backdrop-filter: blur(3px);
  }


  .modal-charge-details-flex{
    display: flex;
    width: 70%; 
    justify-content: space-between;
  }



  .yellow-title{
    background-color: white;
    color: #C5A605;
  }

  .buttons-confirmDelete{
    display: flex;
    gap: 30px;

  }

  .buttons-confirmDelete button{
    all:unset;
    width: 100px;
    height: 24px;
    border-radius: 4px;
    text-align: center;
  
  line-height: 25px;  

    cursor: pointer;


  }

  .buttons-confirmDelete .button-red-confirmDelete{
    background: #F2D6D0;
    color: #AE1100;
  }
  .buttons-confirmDelete  .button-green-confirmDelete{
    background: #ACD9C5;
    color: #034A2A;
  }
  .buttons-confirmDelete .button-red-confirmDelete:hover{
    background: #ffab98;
    color: #AE1100;
  }
  .buttons-confirmDelete  .button-green-confirmDelete:hover{
    background: #70e2af;
    color: #034A2A;
  }